.vscode
**/venv
.ipynb_checkpoints
old_tests/
build/
dist/

*.pickle

__pycache__
testdata
*.pyc

db/populate/datasets/

*.pem

/flow-typed
.ipynb_checkpoints/

node_modules/
live/node_modules/
brain/src/*.model
useruploads
/ts-build
/jspm_packages
/builds
/build-shared
/build-frontend
/build-frontend-modern
/build-frontend-legacy
/build-scripts
/build-cache
/static/**
/coverage
/data
/logs
**/.DS_Store
circe.sublime-project
circe.sublime-workspace
npm-debug.log
npm-debug.log.*
deps.js
.nvmrc
.vscode

**.sublime-project
**.sublime-workspace

# eclipse
.settings/
.project

# webstorm

*.sw*
tags

.env
shared/herokuDefaultsPrebuildGenerated.env

# font-awesome-loader
.awcache

yarn-error.log

# emacs
*~
